<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center"> -->
<div class="row">
  <div class="col-md-3">
    <table class="table table-hover coins-table">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Price(USD)</th>
          <th>1h Change</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let coin of coins">
          <td>{{coin.rank}}</td>
          <td>{{coin.name}}</td>
          <td>{{coin.price_usd}}</td>
          <td>{{coin.percent_change_1h}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-9">
    ....
  </div>
</div>
<!-- </div> -->