.coins-table tbody {
  height: 250px;
  overflow: auto;
  display: block;
}

.coins-table  {
  position: absolute;
  margin-left: 30px;
}

.coins-table th, td { width: 300px; }

.coins-table tr { display: block; }

.navbar {
  margin-bottom: 0px;
}