.coins-table {
  /* position: absolute; */
  margin-left: 10px;
  width: 98%;
  height: 250px;
  overflow: auto;
  display: inherit;
}

.coins-table th,
td {
  /* width: 300px; */
  /* float: left; */
}

.coins-table tr {
  /* display: block; */
}

.navbar {
  margin-bottom: 0px;
}

#news-section {
  height: 500px;
  overflow: overlay;
}

#news-section,
#info-section {
  padding-left: 0px;
}

.info-link {
  display: block;
}
